@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Расписание</h1>
    <h2 class="display-4">ИС9-5</h2>
</div>

<table class="table">
    <thead>
        <tr>
            <th>№</th>
            <th>Предмет</th>
            <th>Кабинет</th>
            <th>Время</th>
        </tr>
    </thead>
    <tbody>
        <td colspan="4"><h1 align="center">Понедельник</h1></td>
        <tr>
            <th scope="row">1</th>
            <td>Математика</td>
            <td>12</td>
            <td>8:30</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>МДК 01.02</td>
            <td>20</td>
            <td>10:00</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>МДК 01.02</td>
            <td>23</td>
            <td>11:30</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Выш.Мат.</td>
            <td>15</td>
            <td>13:00</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Английский</td>
            <td>19</td>
            <td>14:30</td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>---</td>
            <td>---</td>
            <td>16:00</td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td>---</td>
            <td>---</td>
            <td>17:30</td>
        </tr>

                <td colspan="4"><h1 align="center">Вторник</h1></td>
        <tr>
            <th scope="row">1</th>
            <td>Дискретная математика</td>
            <td>12</td>
            <td>8:30</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Обществознание</td>
            <td>20</td>
            <td>10:00</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Философия</td>
            <td>23</td>
            <td>11:30</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Бух.учет</td>
            <td>15</td>
            <td>13:00</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>---</td>
            <td>---</td>
            <td>14:30</td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>---</td>
            <td>---</td>
            <td>16:00</td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td>---</td>
            <td>---</td>
            <td>17:30</td>
        </tr>

                        <td colspan="4"><h1 align="center">Среда</h1></td>
        <tr>
            <th scope="row">1</th>
            <td>Дискретная математика</td>
            <td>12</td>
            <td>8:30</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Обществознание</td>
            <td>20</td>
            <td>10:00</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Философия</td>
            <td>23</td>
            <td>11:30</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Бух.учет</td>
            <td>15</td>
            <td>13:00</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>---</td>
            <td>---</td>
            <td>14:30</td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>---</td>
            <td>---</td>
            <td>16:00</td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td>---</td>
            <td>---</td>
            <td>17:30</td>
        </tr>

                        <td colspan="4"><h1 align="center">Четверг</h1></td>
        <tr>
            <th scope="row">1</th>
            <td>Дискретная математика</td>
            <td>12</td>
            <td>8:30</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Обществознание</td>
            <td>20</td>
            <td>10:00</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Философия</td>
            <td>23</td>
            <td>11:30</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Бух.учет</td>
            <td>15</td>
            <td>13:00</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>---</td>
            <td>---</td>
            <td>14:30</td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>---</td>
            <td>---</td>
            <td>16:00</td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td>---</td>
            <td>---</td>
            <td>17:30</td>
        </tr>

                        <td colspan="4"><h1 align="center">Пятница</h1></td>
        <tr>
            <th scope="row">1</th>
            <td>---</td>
            <td>---</td>
            <td>8:30</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Обществознание</td>
            <td>20</td>
            <td>10:00</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Философия</td>
            <td>23</td>
            <td>11:30</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Бух.учет</td>
            <td>15</td>
            <td>13:00</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Дискретная математика</td>
            <td>12</td>
            <td>14:30</td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>---</td>
            <td>---</td>
            <td>16:00</td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td>---</td>
            <td>---</td>
            <td>17:30</td>
        </tr>
    </tbody>
</table>